<!doctype html>

<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Dasboard</title>
  <!--/*/ <th:block th:include="common/commonHead"></th:block> /*/-->

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="images/android-desktop.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

  <link rel="stylesheet" media="screen"
        th:href="@{${@mvcResourceUrlProvider.getForLookupPath('/css/adminStyle.css')}}"/>
</head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <!--/*/ <th:block th:include="common/adminHeader"></th:block> /*/-->
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">
      <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <h1 id="demotext">Welcome to QuestNR Dashboard</h1>
        </div>
      </div>
    </div>
  </main>
</div>

<!--/*/ <th:block th:include="common/commonJS"></th:block> /*/-->

</body>
</html>
