<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>QuestnrFrontEnd</title>
    <base href="/feeds">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/dist/styles.0d93c69fc12750268545.css"></head>
<body>
<app-root></app-root>
<script src="/dist/runtime-es2015.faff76dfe86b56efc403.js" type="module"></script><script src="/dist/runtime-es5.faff76dfe86b56efc403.js" nomodule defer></script><script src="/dist/polyfills-es5.6696c533341b95a3d617.js" nomodule defer></script><script src="/dist/polyfills-es2015.2987770fde9daa1d8a2e.js" type="module"></script><script src="/dist/main-es2015.40b8fa60468a3e06a7a3.js" type="module"></script><script src="/dist/main-es5.40b8fa60468a3e06a7a3.js" nomodule defer></script></body>
</html>
