<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mc="http://www.w3.org/1999/xhtml" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Reset Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        p {
            margin: 0 0 10px;
        }
    </style>
</head>
<body style="background: #ffff;">
<table align="center" style=" margin-top: 35px;margin-bottom: 35px;border:solid 0.7px #999999;">
    <thead>
    <tr>
        <th style="border-bottom:solid 0.7px #999999;">
            <center><img src="https://drive.google.com/file/d/1LZFJ556IExvC6I0LEfnS3wsFSFHYX8Sp/view?usp=sharing"
                         style="margin-bottom: 30px;margin-top: 30px;"></img></center>
        </th>
    </tr>

    </thead>

    <tbody style="padding: 27px 42px;background: white;margin: auto;margin-top: 18px;display: block;padding: 10px 30px;">

    <td>
        <p style="font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #333333;margin-bottom: 21px;">
            Hi <span th:text="${fullName}"></span>,</p></td>
    </tr>
    <tr>
        <td>
            <p style="font-family: Arial; font-size: 20px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.4; letter-spacing: normal; color: #000000;margin-bottom: 15px;">
                To reset your Questnr password,<br>please click on below button</p>
        </td>
    </tr>

    <tr>
        <td>
            <p style="font-family: Arial; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.57; letter-spacing: normal; color: #333333;margin-bottom:27px;">
                Need to reset your password? No problem <br> Just click below to get started.</p></td>
    </tr>


    <tr>
        <td><a th:href="@{${passwordResetUrl}}"
               style="font-family: Arial; font-size: 16px; font-weight: normal; font-style: normal; font-stretch: normal; text-decoration: none; line-height: normal; letter-spacing: normal; color: #fff;border-radius: 2.8px; background-image: linear-gradient(259deg, #9b211f, #92140c);padding: 15px 32px;display: inline-block;margin-bottom: 29px;">
            Reset my password</a></td>
    </tr>

    <tr>
        <td>
            <p style="font-family: Arial; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.83; letter-spacing: normal; color: #333333;margin-bottom: 40px;">
                *If you didn’t make this request, or made it by mistake, please ignore this email.<br>Your password will
                remain as it was.</p></td>
    </tr>

    <tr>
        <td>
            <p style="font-family: HelveticaNeue; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #333333;">Questnr Support</p></td>
    </tr>
    <tr>
        <td>
            <p style="font-family: HelveticaNeue; font-size: 14px; font-weight: 700; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #000000;margin-bottom: 8px;">support@questnr.com</p></td>
    </tr>
    </tbody>
    <tfoot align="center" style="border-top:solid 0.7px #999999;display: block;    padding: 20px 20px 37px 20px;">

    <tr>
        <td>
            <center><img src="https://drive.google.com/file/d/1LZFJ556IExvC6I0LEfnS3wsFSFHYX8Sp/view?usp=sharing"
                         style="width: 35px; height: 33px; padding: 5px 5px;margin-bottom: 7px;"></img></center>
        </td>
    </tr>


    <tr>
        <td>
            <p style="font-family: HelveticaNeue; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: center; color: #666666;line-height: 1.83;margin-bottom: 0px;">
                © 2020. All rights reserved.</p></td>
    </tr>


    <tr>
        <td>
            <p style="font-family: HelveticaNeue; font-size: 12px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: center; color: #666666;line-height: 1.83;margin-bottom: 0px;">
                New Delhi | contact@questnr.com </p></td>
    </tr>

    <tr>
        <td colspan="3" style="text-align: center; margin-bottom: 18px;">
            <p style=" font-size: 12px;line-height: 18px;color: black;text-align: center;margin-top: 7px;margin-bottom: 0px;">
                <a style="margin:6px;" href="https://www.facebook.com/Questnr" target="_blank"><img
                        src="https://lh3.googleusercontent.com/ddiziJcZi1WokLGFfBT2bvWyncLnJ2s9lpeJOjKHgBTXusxeDu_Etkj4kzfIMZaPKSHHXopdogMIP72PzxIFUhsIKzAE"></img></a>
                <a style="margin:6px;" href="https://twitter.com/Questnr" target="_blank"><img
                        src="https://lh3.googleusercontent.com/SMmwZnsdoF8nsXobPm0CxitWKGtYzZTfG8__-C0fSV0l_9lh2chNIUpwS5XxzKU1gYnxOYwJhVx_L23n2puDAvWqb_xw"></img></a>
                <a style="margin:6px;" href="https://www.linkedin.com/company/Questnr-inc-/" target="_blank"><img
                        src="https://lh3.googleusercontent.com/aaOEZItJUcrcBBPRVUikuaAGK_Ypjtg3kd3rKUAXE77GB_hdkdEukxYB1xk9fJd2nQLV7VmQrsjtJewlmXcUDdPH0Fc"></img></a>
                <a style="margin:6px;" href="https://plus.google.com/+Questnr" target="_blank"><img
                        src="https://lh3.googleusercontent.com/1jDuugHH_o1dKPpu5tMP0_IyFNNLzkIfMy46XFlK8c7t2Uv7ygq4C-28pExEetHhnFI2uyQSf9vGrx-sPuPahosWLw"></img></a>
            </p>
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>

