<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mc="http://www.w3.org/1999/xhtml" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome/Signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=Fdevice-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        p {
            margin: 0 0 10px;
        }
    </style>
</head>
<body style="background: #ffff;">
<div>
	<span style="
        font-family: Arial; font-style: normal; font-stretch: normal;letter-spacing: normal;color: #ffffff; font-size: 32px;font-weight: bold;  line-height: 0.88;  margin: 22px 28px;  display: inline-block;">Welcome to Quesnr!</span>
    <div style="margin: 20px 28px;"><img
            src="https://drive.google.com/file/d/1LZFJ556IExvC6I0LEfnS3wsFSFHYX8Sp/view?usp=sharing" style="
    margin-top: -25px;
    /* margin-left: 152px; */
    /* width: 100%; */
    object-fit: contain;
"/>
    </div>
</div>
</body>
</html>