<!DOCTYPE html>
<html lang="en">
<head>
  <title>Terms of Service | QuestNR</title>
  <link rel="stylesheet" media="screen"
        th:href="@{${@mvcResourceUrlProvider.getForLookupPath('/css/style.css')}}"/>
  <!--/*/ <th:block th:include="common/commonHead"></th:block> /*/-->
</head>

<body>
<!-- Uses a transparent header that draws on top of the layout's background -->


<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <!--/*/ <th:block th:include="common/header"></th:block> /*/-->

    <main class="mat-content mdl-layout__content">
      <div class="container-header">
        <div class="web-frame ">
          <div class="mdl-grid">
            <div
                class="mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet mdl-cell--12-col-phone top-banner">
              <div style="position: relative; top: 12%;">
                <h1 class="banner-heading"> The New Era of <br>Online Communities</h1>
                <h5 class="banner-subheading">
                  Having real social contacts can sometimes be difficult.<br>
                  With a bit of a FUN, everthing becomes much simpler!
                </h5>
                <div>
                  <input type="text" placeholder="Search..."><span><i
                    class="material-icons search-btn">search</i></span>
                </div>
                <div>
                  <ul class="hashtags">
                    <li>#sports</li>
                    <li>#events</li>
                    <li>#photography</li>
                    <li>#chitchat</li>
                  </ul>
                </div>
              </div>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div style="margin-top: 30px">
                <button class="mdl-button btn-color join-now">
                  Join Now! <i class="material-icons"
                               style="margin-left: 30px; color: #fff9fa;line-height: 1px"> input </i>
                </button>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--5-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
              <div class="login-form">
                <div class="login-form-container">
                  <h3>Log In</h3>
                  <p>Login to your account and check out the <br>new messages.</p>
                  <input type="text" name="username" id="username" placeholder="Username">
                  <input type="text" name="password" id="password" placeholder="Password">
                  <div>
                    <label id="check" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input id="MdlCheckBox" type="checkbox" class="mdl-checkbox__input" value='0'/>
                      <span class="mdl-checkbox__label">Remember me</span>
                    </label>
                    <button class="mdl-button btn-color">
                      Login
                    </button>
                  </div>
                </div>
                <hr style="margin-bottom: 32px">
                <div style="padding: 0 20px 25px;">
                  <span class="label-form">Forgot your password?</span>
                  <span class="label-form" style="float: right">Create New Account!</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="community-group">
        <div class="web-frame">
          <h1>Community Groups</h1>
          <div>
            <ul>
              <li style="border-bottom: 4px solid #ff3a26">Popular</li>
              <li>Active</li>
              <li>Alphabetical</li>
              <li>Newest</li>
            </ul>
          </div>
          <div class="mdl-grid" style="padding: 24px 0;">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
              <div class="community-card">
                <div>
                  <img src="https://i.ytimg.com/vi/pLO30YPoFO8/hqdefault.jpg" alt="image">
                </div>
                <div>
                  <h5>Music</h5>
                  <div class="last-seen">Active 3 hours ago</div>
                  <div class="members">18 members</div>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="community-card">
                <div>
                  <img
                      src="http://dionisiskoutsis.com/wp-content/uploads/2018/07/20180714-DSCF3163dionisis-koutsis-fashion-photography.jpg"
                      alt="image">
                </div>
                <div>
                  <h5>Music</h5>
                  <div class="last-seen">Active 3 hours ago</div>
                  <div class="members">18 members</div>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="community-card">
                <div>
                  <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfN2SkoZam9c748Xy-lsL9YGFtJBbJOsVnAxTDfugh4hJe2HwE&amp;s"
                      alt="image">
                </div>
                <div>
                  <h5>Music</h5>
                  <div class="last-seen">Active 3 hours ago</div>
                  <div class="members">18 members</div>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="community-card">
                <div>
                  <img
                      src="https://images.unsplash.com/photo-1571680719972-f18bb57077cf?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80"
                      alt="image">
                </div>
                <div>
                  <h5>Music</h5>
                  <div class="last-seen">Active 3 hours ago</div>
                  <div class="members">18 members</div>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="community-card">
                <div>
                  <img
                      src="https://images.unsplash.com/photo-1569285645462-a3f9c6332d56?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1350&amp;q=80"
                      alt="image">
                </div>
                <div>
                  <h5>Music</h5>
                  <div class="last-seen">Active 3 hours ago</div>
                  <div class="members">18 members</div>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="community-card">
                <div>
                  <img
                      src="https://images.unsplash.com/photo-1567416592215-fb3c07cfb7c5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1347&amp;q=80"
                      alt="image">
                </div>
                <div>
                  <h5>Music</h5>
                  <div class="last-seen">Active 3 hours ago</div>
                  <div class="members">18 members</div>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="community-card">
                <div>
                  <img
                      src="https://images.unsplash.com/photo-1569257437369-90bdc0a45d5f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1350&amp;q=80"
                      alt="image">
                </div>
                <div>
                  <h5>Music</h5>
                  <div class="last-seen">Active 3 hours ago</div>
                  <div class="members">18 members</div>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="community-card">
                <div>
                  <img
                      src="https://images.unsplash.com/photo-1563109696-9a5563d6e0ae?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1354&amp;q=80"
                      alt="image">
                </div>
                <div>
                  <h5>Music</h5>
                  <div class="last-seen">Active 3 hours ago</div>
                  <div class="members">18 members</div>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="community-card">
                <div>
                  <img
                      src="https://images.unsplash.com/photo-1553634208-34a05bcf43c1?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=700&amp;q=80"
                      alt="image">
                </div>
                <div>
                  <h5>Music</h5>
                  <div class="last-seen">Active 3 hours ago</div>
                  <div class="members">18 members</div>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="community-card">
                <div>
                  <img
                      src="https://images.unsplash.com/photo-1565396257124-2c1627e8b3b5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1351&amp;q=80"
                      alt="image">
                </div>
                <div>
                  <h5>Music</h5>
                  <div class="last-seen">Active 3 hours ago</div>
                  <div class="members">18 members</div>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="community-card">
                <div>
                  <img
                      src="https://images.unsplash.com/photo-1504865127733-863b5007c4eb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=638&amp;q=80"
                      alt="image">
                </div>
                <div>
                  <h5>Music</h5>
                  <div class="last-seen">Active 3 hours ago</div>
                  <div class="members">18 members</div>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div class="community-card">
                <div>
                  <img
                      src="https://images.unsplash.com/photo-1568131698871-f72e16902cc0?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80"
                      alt="image">
                </div>
                <div>
                  <h5>Music</h5>
                  <div class="last-seen">Active 3 hours ago</div>
                  <div class="members">18 members</div>
                </div>
              </div>
            </div>
          </div>
          <div style="margin:9px">
            <button class="mdl-button btn-color load-more">
              Load More<i class="material-icons"
                          style="margin-left: 8px; position: relative; top: -1px;"> input </i>
            </button>
          </div>

        </div>
      </div>


      <div class="latest-activity">
        <div class="web-frame">
          <div class="mdl-grid" style="border-bottom: 1px solid #ccc; padding-bottom: 30px;">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--6-col-phone"
                 style="border-right: 1px solid #cccccc; padding-right: 25px;">
              <h3>Members Rank</h3>
              <div class="mdl-grid members-list">
                <div
                    class="mdl-cell mdl-cell--1-col mdl-cell--8-col-tablet mdl-cell--6-col-phone rank">
                  <div>1.</div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <img src="https://i.ytimg.com/vi/pLO30YPoFO8/hqdefault.jpg" alt="membername">
                </div>
                <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <div class="member-name"> Shanky Baba</div>
                  <div class="members"> 486594 points</div>
                </div>
              </div>
              <div class="mdl-grid members-list">
                <div
                    class="mdl-cell mdl-cell--1-col mdl-cell--8-col-tablet mdl-cell--6-col-phone rank">
                  <div>2.</div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <img
                      src="http://dionisiskoutsis.com/wp-content/uploads/2018/07/20180714-DSCF3163dionisis-koutsis-fashion-photography.jpg"
                      alt="membername">
                </div>
                <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <div class="member-name"> Shanky Baba</div>
                  <div class="members"> 486594 points</div>
                </div>
              </div>
              <div class="mdl-grid members-list">
                <div
                    class="mdl-cell mdl-cell--1-col mdl-cell--8-col-tablet mdl-cell--6-col-phone rank">
                  <div>3.</div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <img
                      src="https://images.unsplash.com/photo-1571680719972-f18bb57077cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                      alt="membername">
                </div>
                <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <div class="member-name"> Shanky Baba</div>
                  <div class="members"> 486594 points</div>
                </div>
              </div>
              <div class="mdl-grid members-list">
                <div
                    class="mdl-cell mdl-cell--1-col mdl-cell--8-col-tablet mdl-cell--6-col-phone rank">
                  <div>4.</div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <img
                      src="https://images.unsplash.com/photo-1553634208-34a05bcf43c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
                      alt="membername">
                </div>
                <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <div class="member-name"> Shanky Baba</div>
                  <div class="members"> 486594 points</div>
                </div>
              </div>
              <div class="mdl-grid members-list">
                <div
                    class="mdl-cell mdl-cell--1-col mdl-cell--8-col-tablet mdl-cell--6-col-phone rank">
                  <div>5.</div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <img
                      src="https://images.unsplash.com/photo-1568131698871-f72e16902cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                      alt="membername">
                </div>
                <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <div class="member-name"> Shanky Baba</div>
                  <div class="members"> 486594 points</div>
                </div>
              </div>
              <div class="mdl-grid members-list">
                <div
                    class="mdl-cell mdl-cell--1-col mdl-cell--8-col-tablet mdl-cell--6-col-phone rank">
                  <div>6.</div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <img
                      src="https://images.unsplash.com/photo-1568131698871-f72e16902cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                      alt="membername">
                </div>
                <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <div class="member-name"> Shanky Baba</div>
                  <div class="members"> 486594 points</div>
                </div>
              </div>
              <div class="mdl-grid members-list">
                <div
                    class="mdl-cell mdl-cell--1-col mdl-cell--8-col-tablet mdl-cell--6-col-phone rank">
                  <div>7.</div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <img
                      src="https://images.unsplash.com/photo-1568131698871-f72e16902cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                      alt="membername">
                </div>
                <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <div class="member-name"> Shanky Baba</div>
                  <div class="members"> 486594 points</div>
                </div>
              </div>
              <div class="mdl-grid members-list">
                <div
                    class="mdl-cell mdl-cell--1-col mdl-cell--8-col-tablet mdl-cell--6-col-phone rank">
                  <div>8.</div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <img
                      src="https://images.unsplash.com/photo-1568131698871-f72e16902cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                      alt="membername">
                </div>
                <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                  <div class="member-name"> Shanky Baba</div>
                  <div class="members"> 486594 points</div>
                </div>
              </div>

            </div>
            <div class="mdl-cell mdl-cell--9-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
              <h3>New Activity<span
                  style=" float: right; position: relative; top: 10px; left: -10px;cursor: pointer "><i
                  class="material-icons"> more_vert </i></span></h3>
              <hr style="margin: 0;">
              <div class="mdl-grid" style="padding: 0">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone"
                     style="margin: 16px 0; padding: 0 20px 0 8px; border-right: 1px solid #cccccc;">
                  <div class="mdl-grid members-list"
                       style="border-top: none; border-bottom: 1px solid #cccccc;">
                    <div
                        class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                      <img
                          src="https://images.unsplash.com/photo-1568131698871-f72e16902cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                          alt="membername">
                    </div>
                    <div
                        class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                      <div class="member-name">monica joined friends group</div>
                      <div class="members"> 1 Week Ago</div>
                    </div>
                    <div style=" padding: 8px; ">
                      <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
                        out print, graphic or web designs.</p>
                    </div>
                    <div style="color: #999999; margin: 8px 0 0 8px">
                    <span style="    margin-right: 18px;"><i class="fa fa-comment"
                                                             aria-hidden="true"
                                                             style="margin-right: 8px"></i>12 Comments</span>
                      <span style="    margin-right: 18px;"> <i class="fa fa-share-alt"
                                                                aria-hidden="true"
                                                                style="margin-right:8px"></i>Share</span>
                      <span style="    margin-right: 18px;"><i class="fa fa-heart" aria-hidden="true"
                                                               style="margin-right: 8px"></i>27+</span>
                    </div>
                  </div>
                  <div class="mdl-grid members-list"
                       style="border-top: none; border-bottom: 1px solid #cccccc;">
                    <div
                        class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                      <img
                          src="https://images.unsplash.com/photo-1568131698871-f72e16902cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                          alt="membername">
                    </div>
                    <div
                        class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                      <div class="member-name">Monica joined friends group</div>
                      <div class="members"> 1 Week Ago</div>
                    </div>
                    <div style=" padding: 8px; ">
                      <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
                        out print, graphic or web designs.</p>
                    </div>
                    <div style="color: #999999; margin: 8px 0 0 8px">
                    <span style="    margin-right: 18px;"><i class="fa fa-comment"
                                                             aria-hidden="true"
                                                             style="margin-right: 8px"></i>12 Comments</span>
                      <span style="    margin-right: 18px;"> <i class="fa fa-share-alt"
                                                                aria-hidden="true"
                                                                style="margin-right:8px"></i>Share</span>
                      <span style="    margin-right: 18px;"><i class="fa fa-heart" aria-hidden="true"
                                                               style="margin-right: 8px"></i>27+</span>
                    </div>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone"
                     style="padding:0 0px 50px 18px; margin: 16px 0;">
                  <div class="mdl-grid members-list"
                       style="border-top: none; border-bottom: 1px solid #cccccc;">
                    <div
                        class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                      <img
                          src="https://images.unsplash.com/photo-1568131698871-f72e16902cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                          alt="membername">
                    </div>
                    <div
                        class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                      <div class="member-name">monica joined friends group</div>
                      <div class="members"> 1 Week Ago</div>
                    </div>
                    <div style=" padding: 8px; ">
                      <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
                        out print, graphic or web designs. The passage is attributed to an unknown
                        typesetter in the 15th century who is thought to have scrambled parts of
                        Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
                    </div>
                    <div style="color: #999999; margin: 8px 0 0 8px">
                    <span style="    margin-right: 18px;"><i class="fa fa-comment"
                                                             aria-hidden="true"
                                                             style="margin-right: 8px"></i>12 Comments</span>
                      <span style="    margin-right: 18px;"> <i class="fa fa-share-alt"
                                                                aria-hidden="true"
                                                                style="margin-right:8px"></i>Share</span>
                      <span style="    margin-right: 18px;"><i class="fa fa-heart" aria-hidden="true"
                                                               style="margin-right: 8px"></i>27+</span>
                    </div>
                  </div>
                  <div class="mdl-grid members-list"
                       style="border-top: none; border-bottom: 1px solid #cccccc;">
                    <div
                        class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                      <img
                          src="https://images.unsplash.com/photo-1568131698871-f72e16902cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                          alt="membername">
                    </div>
                    <div
                        class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                      <div class="member-name">monica joined friends group</div>
                      <div class="members"> 1 Week Ago</div>
                    </div>
                    <div style=" padding: 8px; ">
                      <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
                        out print, graphic or web designs. The passage is attributed to an unknown
                        typesetter in the 15th century who is thought to have scrambled parts of
                        Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
                    </div>
                    <div style="color: #999999; margin: 8px 0 0 8px">
                    <span style="    margin-right: 18px;"><i class="fa fa-comment"
                                                             aria-hidden="true"
                                                             style="margin-right: 8px"></i>12 Comments</span>
                      <span style="    margin-right: 18px;"> <i class="fa fa-share-alt"
                                                                aria-hidden="true"
                                                                style="margin-right:8px"></i>Share</span>
                      <span style="    margin-right: 18px;"><i class="fa fa-heart" aria-hidden="true"
                                                               style="margin-right: 8px"></i>27+</span>
                    </div>
                  </div>
                  <div class="mdl-grid members-list"
                       style="border-top: none; border-bottom: 1px solid #cccccc;">
                    <div
                        class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                      <img
                          src="https://images.unsplash.com/photo-1568131698871-f72e16902cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
                          alt="membername">
                    </div>
                    <div
                        class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
                      <div class="member-name">monica joined friends group</div>
                      <div class="members"> 1 Week Ago</div>
                    </div>
                    <div style=" padding: 8px; ">
                      <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
                        out print, graphic or web designs. </p>
                    </div>
                    <div style="color: #999999; margin: 8px 0 0 8px">
                    <span style="    margin-right: 18px;"><i class="fa fa-comment"
                                                             aria-hidden="true"
                                                             style="margin-right: 8px"></i>12 Comments</span>
                      <span style="    margin-right: 18px;"> <i class="fa fa-share-alt"
                                                                aria-hidden="true"
                                                                style="margin-right:8px"></i>Share</span>
                      <span style="    margin-right: 18px;"><i class="fa fa-heart" aria-hidden="true"
                                                               style="margin-right: 8px"></i>27+</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="info-graphics">
        <div class="web-frame">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone ">

              <div>
                <h1>Join the <br>Best Community</h1>
                <p> Subscribe to questnr now and start your new <br> social life now!</p>

                <button class="mdl-button btn-color join-now" style="text-transform: none !important; width: auto !important;">
                  #Join Now for fun!
                </button>
              </div>

            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
              <div>
                <img
                    src="https://lh3.googleusercontent.com/N05KBPQndlQGmrzyjsBfFV_hCr8rQ2kWHQV_d8zyQQ5qdKQ798TnZkyXlHfoCzE5SgdnY84Go9k9qQJk5oRoUFK57Q" width="100%"
                    alt="demoimg">
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="info-graphics">
        <div class="web-frame">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone ">
              <div>
                <img
                    src="https://lh3.googleusercontent.com/N05KBPQndlQGmrzyjsBfFV_hCr8rQ2kWHQV_d8zyQQ5qdKQ798TnZkyXlHfoCzE5SgdnY84Go9k9qQJk5oRoUFK57Q" width="100%"
                    alt="demoimg">
              </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
              <div>
                <h1>Be part of our next Community Events.</h1>
                <p>Be part of our next Community Events & meet other peoples like you. Share, Discuss & maybe find you partner in crime.</p>

                <button class="mdl-button btn-color join-now" style="text-transform: none !important; width: auto !important;">
                  #Join the Community
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="container-header" style="height: auto !important; padding: 80px 0 80px;">
        <div class="web-frame ">
          <div class="mdl-grid">
            <div
                class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--12-col-phone top-banner">
              <div >
                <h1 class="banner-heading">Annoyed by Other <br> Social Networks?</h1>
                <h5 class="banner-subheading">
                  150.000 members have already created their profile <br>and enjoy a network of friends from hell!<br>
                  So... What are you waiting for?
                </h5>
                <div style="margin-top: 50px">
                  <button class="mdl-button btn-color join-now" style="text-transform: none !important; width: auto !important;">
                    Join to QuestNr Now!
                  </button>
                </div>
              </div>

            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
              <div>
                <img src="https://lh3.googleusercontent.com/N05KBPQndlQGmrzyjsBfFV_hCr8rQ2kWHQV_d8zyQQ5qdKQ798TnZkyXlHfoCzE5SgdnY84Go9k9qQJk5oRoUFK57Q" width="100%" alt="demoimg">
              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="taglines">
        <div class="web-frame">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
              <div>
                <h1 style="text-align: center">Let's Create a <br> Strong Community </h1>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
              <div class="mdl-grid" style="text-align: center">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--6-col-phone">

                  <img width="100px" height="100px"
                       src="https://lh3.googleusercontent.com/rPXt_mPT0h1MvWsgJ5qJxCCNVFTD5CpgKJ7WhAneF0eTSjW8cYuaE8-R2Wi7QZTH7x_LN1i63T4s9lhKTXlyINBAfa4"
                       alt="demo">
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--6-col-phone">
                  <h3 style="font-weight: 600;">Talk to Real <br> People </h3>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--6-col-phone">
                  <p>
                    Members profile are verified <br> everyday. Questnr therefore <br> only contains motivated
                    <br> members who really want <br> to be part of the community.
                  </p>
                </div>
              </div>

            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
              <div class="mdl-grid" style="text-align: center">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--6-col-phone">

                  <img width="100px" height="100px"
                       src="https://lh3.googleusercontent.com/rPXt_mPT0h1MvWsgJ5qJxCCNVFTD5CpgKJ7WhAneF0eTSjW8cYuaE8-R2Wi7QZTH7x_LN1i63T4s9lhKTXlyINBAfa4"
                       alt="demo">
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--6-col-phone">
                  <h3 style="font-weight: 600; ">Smooth & simple<br> Features</h3>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--6-col-phone">
                  <p>
                    Questnr has only simple and <br> effective features to help you find exactly what you want.
                  </p>
                </div>
              </div>

            </div>
            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
              <div class="mdl-grid" style="text-align: center">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--6-col-phone">

                  <img width="100px" height="100px"
                       src="https://lh3.googleusercontent.com/rPXt_mPT0h1MvWsgJ5qJxCCNVFTD5CpgKJ7WhAneF0eTSjW8cYuaE8-R2Wi7QZTH7x_LN1i63T4s9lhKTXlyINBAfa4"
                       alt="demo">
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--6-col-phone">
                  <h3 style="font-weight: 600; ">Your data are<br> Safe</h3>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--6-col-phone">
                  <p>
                    Your data is secure and will <br>never be offered to third parties <br>Companies. Your profile is safe on
                    <br>
                    Questnr.
                  </p>
                </div>
              </div>

            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
              <div style="text-align: center">
                <button class="mdl-button btn-color join-now" style="text-transform: none !important; width: auto !important;">
                  Register Now!
                </button>
              </div>
            </div>


          </div>
        </div>

      </div>
      <!--/*/ <th:block th:include="common/footer"></th:block> /*/-->

    </main>


</div>


<!--/*/ <th:block th:include="common/commonJS"></th:block> /*/-->

</body>
</html>
